img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;    
}

.container {
    text-align: center;
    align-content: center;
    display: flex;
}

.container>* {
    margin: 0 1px;
    flex: 1;
}

.title {
    margin: 20px 0 20px 0;
    height: 100px;
    text-align: center;
}

.scoreboard {
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    margin: 50px 50px 50px 50px;
}

.center-display {
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    margin: 50px 50px 50px 50px;
}

.play-game{
    border: solid 2px;
    padding: 10px 20px 10px 20px;
    margin: 50px 50px 50px 50px;
}

#ran-image {
    width: 45px;
    flex-wrap: wrap;
}

#dot {
    width: 50px; 
    border: none;
}